<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

     <!-- content negotiation -->
     <mvc:annotation-driven content-negotiation-manager="contentManager"/>
     <bean id="contentManager"
           class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
          <property name="favorPathExtension" value="true" />
          <property name="ignoreAcceptHeader" value="true" />
          <property name="defaultContentType" value="text/html" />
          <property name="useJaf" value="false" />
          <property name="mediaTypes">
               <map>
                    <entry key="json" value="application/json" />
                    <entry key="html" value="text/html" />
                    <entry key="xml" value="application/xml" />
               </map>
          </property>
     </bean>
     <!-- 扫描controller（controller层注入） -->
     <context:component-scan base-package="com.szty.wx.controller"/>
     <mvc:resources mapping="/img/**" location="/img/"/>
     <!-- 对模型视图添加前后缀 -->
     <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
      p:prefix="/WEB-INF/" p:suffix=".jsp"/>
</beans>